.pick-value-display {
	font-size: 0.75rem;
	color: #444;
	background-color: #f9f9f9;
	border-radius: 3px;
	padding: 1px 4px;
}

.pick-value-loading {
	font-size: 0.75rem;
	color: #999;
	font-style: italic;
}
